body {
    font-family: "bahnschrift light", "sans serif";
    font-size: 22px;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    padding-top: 10px;
}

h2{
    margin-top:-30px;
    margin-bottom:-20px;
}
div#content_loading{min-height:30px;}

table.form_section{
    margin:auto;
}
table.form_section th{
    text-align: right;
    padding-right:15px;
    font-weight:normal;
}

.form_heavy{
    font-size:large;
    background-color: #f0ffff;
    border: 1px solid black;
    width:50%;
    min-height:300px;
    padding:5px;
    margin:auto;
}
.question{
    font-size: larger;
    font-weight: bold;
}

.form_button{
    font-size:large;
    background-color: #96b5ee;
    padding:5px;
    border:1px solid black;
}
#notes{
    width:80%;
    height:100px;
    font-size:30px;
    text-align:left;
}
#evaluation_msg{
    font-style: italic;
}

button#show_help{
    position: fixed;
    top:5px;
    left:5px;
    background-color: aqua;
    border:1px solid black;
    outline:none;
}
button#hide_help{
    position: relative;
    float:right;
    top:5px;
    right:5px;
    outline:none;
    background-color: #ff4040;
    border:1px solid black;
}
div#help_container{
    background-color: azure;
    border:1px solid black;
    position:fixed;
    top:0px;
    width:70%;
    height:85%;
    margin:2% 15% 13% 15%;
    text-align: left;
    padding:5px;
    font-size:18px;
}
div#help_container h4{
    margin-top:5px;
    margin-bottom:10px;
}
